<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

    #Remove /pages/ for all files and directories:
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /pages/$1 [L]
</IfModule>